<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://icon" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed"
      ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="Featured"></Label>
  <StackLayout orientation="horizontal" class="action-bar-title pull-right">
    <Button class="fas" text="&#xf07a; Cart"  [nsRouterLink]="['/cart']" style="color: red"></Button>
    <app-scanner></app-scanner>
  </StackLayout>
</ActionBar>

<!-- <ScrollView class="page">
  <StackLayout class="home-panel">
      <app-create></app-create>
      <Button class="btn btn-primary" text="Item" [nsRouterLink]="['/item']"></Button>
  </StackLayout>
</ScrollView> -->
<ScrollView class="page">
  <app-menu></app-menu>
</ScrollView>