<!-- <GridLayout class="container">
  <StackLayout *ngIf="item">
    <Label class="main-name" [text]="item.name"></Label>

    <GridLayout class="grid" rows="auto auto" columns="auto, *">
      <Label row="0" col="0" class="circle" [text]="item.id"></Label>
      <TextField class="name" row="0" col="1" [(ngModel)]="item.name" hint="name"></TextField>
    </GridLayout>
  </StackLayout>
</GridLayout> -->
<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://icon" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed"
      ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="Detail"></Label>
</ActionBar>
<FlexboxLayout>
  <StackLayout *ngIf="item">
    <TextField [text]="item.name"></TextField>
    <TextField [text]="item.cost"></TextField>
    <TextField [text]="item.mealType"></TextField>
  </StackLayout>
</FlexboxLayout>