FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* background-image: url("~/images/background.jpg"); */
}
StackLayout {
  width: 300;
  padding: 10 16;
  background-color: #f0f0f0;
}