<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://icon" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed"
      ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="Cart"></Label>
</ActionBar>

<StackLayout class="sidedrawer-content">

  <GridLayout class="sidedrawer-list-item" rows="*" columns="*, *">
    <Label row="0" col="0" text="Total"></Label>
    <Label row="0" col="1" [text]="cartPrice"></Label>
  </GridLayout>

  <ListView [items]="itemsInCart | values" class="list-group">
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
      <GridLayout columns="auto, *, *" class="p-15" style="background:white">
        <Label col="0" [text]="item.name" nsRouterLink="/detail/{{item.itemId}}"></Label>
        <Label col="1" [text]="item.cost" nsRouterLink="/detail/{{item.itemId}}"></Label>
        <Label col="2" [text]="item.numberInCart" nsRouterLink="/detail/{{item.itemId}}"></Label>  
      </GridLayout>
    </ng-template>
  </ListView>

</StackLayout>