<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://icon" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed"
      ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="Cart"></Label>
</ActionBar>

<StackLayout class="sidedrawer-content">
  <ListView [items]="itemsInCart | values" class="list-group" height="auto" >
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">

      <StackLayout nsRouterLink="/detail/{{item.itemId}}">
        <GridLayout columns="auto, *, *, *, auto" rows="auto" width="100%" height="auto" class="owe-main-info" verticalAlignment="top">
          <Image row="0" col="0" src="~/assets/food-and-beverage-category.png" class="product-icon"></Image>
          <StackLayout row="0" col="1" orientation="vertical" class="menu-container">
            <Label class="product-title" [text]="item.name"></Label>
          </StackLayout>
          <Label row="0" col="2" [text]="item.cost"></Label>
          <Label row="0" col="3" [text]="item.numberInCart"></Label>
          <Label row="0" col="4" [text]="item.numberInCart * item.cost" class="pay-amount"></Label>
        </GridLayout>
        <Label class="divider" text=""></Label>
      </StackLayout>

    </ng-template>
  </ListView>
  <GridLayout class="sidedrawer-list-item" rows="*" columns="*, auto">
    <Label row="0" col="0" text="Total"></Label>
    <Label row="0" col="1" [text]="cartPrice"></Label>
  </GridLayout>
</StackLayout>

<!-- https://discourse.nativescript.org/t/how-to-upload-file-using-multipart-form-data-in-nativescript/560/2 -->
<!-- https://stackoverflow.com/questions/39334643/how-to-upload-file-using-multipart-form-data-in-nativescript -->
<!-- https://github.com/NativeScript/nativescript-background-http -->